body {
    background-image: url(../images/white-waves.png);
}

#main {
    width: 90%;
    margin: 30px auto;
}
/* .container {
    background-image: url(../images/white-waves.png);

} */

#buttons {
    float: left;
    display: block;
}
.animal-btn {
    margin-right: 10px;

}
.card {
    float: right;
    float: top;
}
#gifsGoHere {
    display: block;
    margin-top: 50px;
}