body {
    background-image: url(../images/morocco-blue.png);
}

#main {
    width: 85%;
    margin: 50px auto;
    padding-top: 30px;
    min-height: 700px;
    background-image: url(../images/white-waves.png);
}
.container-md {
    

}

#buttons {
    float: left;
    display: block;
}
.animal-btn {
    margin-right: 10px;
    margin-top: 10px;

}
.card {
    float: right;
    float: top;
}
#gifsGoHere {
    display: block;
    margin-top: 50px;
}

img {
    margin-bottom: 50px;
}
p {
    margin: 0;
}